
<li class="breadcrumb-item">
    <a href="@Url" class="text-muted">
        @Title
    </a>
</li>


@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Url { get; set; }
}
