@using TechFlurry.Utils.MetronicComponents.FormControls.Text.Internal
@inherits MaskedInputBase

<input class="form-control @CssClass" id="@id" name="@name" @bind-value="Value"  type="text" @attributes="inputAttributes" />
@if (!string.IsNullOrEmpty(HelpText))
{
    <span class="form-text text-muted">@HelpText</span>
}

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            MaskedInputInterop.InitEmailMask("#" + id);
        }
    }
}
