@using TechFlurry.Utils.MetronicComponents.FormControls.Text.Internal
@inherits MaskedInputBase

<input class="form-control @CssClass" id="@id" name="@name" @bind-value="Value"  type="text" @attributes="inputAttributes" />
@if (ShowHelpText)
{
    <span class="form-text text-muted">@HelpText <code>@Mask</code></span>
}


